*.exe
draft.md
problemset-2-solves
experi.md
problemset-1-solve/sheet_02_loop/README.md
problemset-1-solve/sheet_02_loop/o_pyramid.cpp
problemset-1-solve/sheet_02_loop/p_shape1.cpp
problemset-1-solve/sheet_02_loop/q_digits.cpp